{##
 # Twig for the Accordion Tab Item paragraphs
 # Based on the Zurb Foundation Responsive Accordion Tabs (https://get.foundation/sites/docs/responsive-accordion-tabs.html)
 # Based on the Zurb Foundation Accordion (https://get.foundation/sites/docs/accordion.html)
 # Based on the Zurb Foundation Tabs (https://get.foundation/sites/docs/tabs.html)
 #}
{% block paragraph %}
  {% block content %}
    <li class="accordion-item {{ (content.field_foundation_active[0]['#markup'] == 1) ? 'is-active' : '' }}" data-accordion-item>
      <a href="#" class="accordion-title">{{ content.field_foundation_title }}</a>
      <div class="accordion-content" data-tab-content>{{ content.field_foundation_items }}</div>
    </li>
  {% endblock %}
{% endblock paragraph %}
