tr.paragraph-type--foundation-cell {
  background: $bluMedium !important;
  border-bottom: 20px solid $bluLight;

  // Title
  .form-wrapper.paragraph-top.add-above-on {
    .paragraph-type, .paragraph-type-label, .paragraphs-badge { color: $bluDark; }
  }

  // Fake popup settings
  .form-wrapper.field-group-popup-fake {
    background: $bluMedium;
    border-color: $bluDark;

    > legend {
      background: $bluDark;
      color: $white;
    }

    .lblCloser {
      background: $bluMedium;
      color: $bluDark;
    }
  }

  // Buttons to manage the settings of the current paragraph
  .fakeButtonsWrp .button, .paragraphs-actions .button {
    border: 1px solid $bluDark;
    color: $bluDark;
    &:hover {
      background: $bluDark;
      color: $white;
    }
  }
}
