// Color for items in cell
tr.paragraph-type--foundation-cell {
  .field-multiple-table {
    tr.draggable:not(.paragraphs-features__add-in-between__row):not(.paragraphs-features__add-in-between__row) {
      background: $white !important;
      border-bottom: 20px solid $bluMedium;

      // Title
      .form-wrapper.paragraph-top.add-above-on {
        .paragraph-type, .paragraph-type-label, .paragraphs-badge { color: $green; }
      }

      // Fake popup settings
      .form-wrapper.field-group-popup-fake {
        background: $white;
        border-color: $green;

        > legend {
          background: $green;
          color: $white;
        }

        .lblCloser {
          background: $white;
          color: $green;
        }
      }

      // Buttons to manage the settings of the current paragraph
      .fakeButtonsWrp .button, .paragraphs-actions .button {
        border: 1px solid $green;
        color: $green;
        &:hover {
          background: $green;
          color: $white;
        }
      }
    }
  }
}

// Colors for Accordions and Responsive Accordions Tabs
tr.paragraph-type--foundation-accordions,
tr.paragraph-type--foundation-accordions-tabs {
  .field-multiple-table {
    tr.draggable:not(.paragraphs-features__add-in-between__row):not(.paragraphs-features__add-in-between__row) {
      background: $greenLight !important;
      border-bottom: 20px solid $white;
    }
  }
}

// Colors for Accordion and Responsive Accordion Tab
tr.paragraph-type--foundation-accordion,
tr.paragraph-type--foundation-accordion-tab {
  .field-multiple-table {
    tr.draggable:not(.paragraphs-features__add-in-between__row):not(.paragraphs-features__add-in-between__row) {
      background: $white !important;
      border-bottom: 20px solid $greenLight;
    }
  }
}
