tr.paragraph-type--foundation-grid {
  background: $bluLight !important;
  border-bottom: 20px solid $white;

  // Title
  .form-wrapper.paragraph-top.add-above-on {
    .paragraph-type, .paragraph-type-label, .paragraphs-badge { color: $bluStandard; }
  }

  // Fake popup settings
  .form-wrapper.field-group-popup-fake {
    background: $bluLight;
    border-color: $bluStandard;

    > legend {
      background: $bluStandard;
      color: $white;
    }

    .lblCloser {
      background: $bluLight;
      color: $bluStandard;
    }
  }

  // Buttons to manage the settings of the current paragraph
  .fakeButtonsWrp .button, .paragraphs-actions .button {
    border: 1px solid $bluStandard;
    color: $bluStandard;
    &:hover {
      background: $bluStandard;
      color: $white;
    }
  }
}
