// Generic styles to grid paragraph for space reduce
.field--widget-paragraphs .draggable.paragraph-type--foundation-grid {
  tr.drag-previous { background: transparent; }

  td.field-multiple-drag { text-align: center; }
  a.tabledrag-handle {
    display: inline-block;
    float: none;
    min-width: 20px;
    padding: 0;

    .handle {
      width: 16px;
      height: 22px;
      margin: 0;
      padding: 0;
      background-position: center center;
    }
  }

  thead { display: none; }
}

// Generic styles
tr.paragraph-type--foundation-grid {
  // Title
  .form-wrapper.paragraph-top.add-above-on {
    .paragraph-type, .paragraph-type-label {
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
    }
    .paragraphs-badge {
      width: 30px;
      height: 20px;
      margin: 0;
      padding: 0;
      border-radius: 0;
      background: $white;

      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
    }
  }

  // Row for buttons to add more paragraphs
  tr.paragraphs_ee__add-in-between__row {
    height: 30px;
    background: transparent !important;
    line-height: 1;

    > td {
      height: 30px;
      padding-bottom: 5px !important;
      text-align: left;

      .paragraphs-features__add-in-between__wrapper {
        position: relative;
        top: auto;
        left: auto;
        transform: translate(0,0);
        opacity: 1 !important;
      }

      .paragraphs_ee__add-in-between__button {
        margin-right: 2px;
      }
    }
  }

  // Buttons to manage the settings of the current paragraph
  .fakeButtonsWrp .button, .paragraphs-actions .button {
    background: transparent;
    border: 1px solid $black;
    color: $black;
  }

  // Wrapper for all the sizing infos
  .field-group-popup-fake[data-drupal-selector^="popup-field-group-foundation-sizing"] {
    > .fieldset-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: calc(100% + 40px);
      margin: 0 -20px;

      > .field-group-fieldset {
        flex: 1 1 0;
        flex-basis: 100%;
        margin: 10px;
      }
      > .field-group-fieldset.wrp-half { flex-basis: 40%; }
    }
  }
}
