// Based on paragraphs_ee/scss/paragraphs_ee.admin.scss

// Global settings
.js tr.paragraph-type--foundation-grid {
  .paragraphs_ee__add-in-between__wrapper {
    display: block;
    left: auto;
    opacity: 1;
    top: 0;
    transform: translate(0, 0);

    .paragraphs_ee__add-in-between__button {
      padding: 0 10px;
      border: none !important;
      border-radius: 0 !important;

      font-size: 10px;
      line-height: 30px;
      color: $white;
      text-transform: uppercase;

      &:before, &:after { display: none !important; }
    }
  }
}

// Color for grid
.js tr.paragraph-type--foundation-grid {
  .paragraphs_ee__add-in-between__wrapper .paragraphs_ee__add-in-between__button {
    background: $bluDark;
  }
}

// Color for cell
.js tr.paragraph-type--foundation-cell {
  .paragraphs_ee__add-in-between__wrapper .paragraphs_ee__add-in-between__button {
    background: $green;
  }
}
